/* #################start task 1 ####################*/

.curtain{
   
    background-color: rgb(255, 255, 255);
    padding: 50% ;
    
    
}
.task1{
    text-align: center;
    background-color: orange;
    width: 300px;
   padding-top: 75px;
   color: aliceblue;
   border: 1px solid white;

    
}
/*################ End task1 #############################*/

/*################ start task2################## */

.card{

    width: 200px;
    height: 600px;
    border: 1px solid black;
   display:inline-block;
       overflow: hidden;
}
.image{
    width:450px ;
    height: 100px;
}

.footer1{
color: white;
margin-top: 320px;
padding: 19px 10px;
background-color: black;

}
.footer{
    color: white;
    margin-top:125px;
    background-color: black;
padding: 20px 20px;
}

/*############# End task2 ################## */

/*############# Start task3 ################## */

.image-task3{
    width: 100px;
    height: 300px;
    border: 1px solid black;
    position: fixed;
    
    right: 0;
    
}



/*############# End task3 ################## */

/*############# Start task4 ################## */

div p{
    width: 150px;
    height:150px;
    border: 3px dotted black;
    background-color: red;
    display: inline-block;
}
.substatic-2 ,.subrelative-2,.subabsolute-2{
    background-color: green;
}

.relative{
   
}
.subrelative-2{
    position: relative;
    bottom: -40px;
    right: -30px;

}

  
.div-absolute-2{
   
 }
.subabsolute-2{
    position: absolute;
    margin-top: 40px;
   left: 20px;;

}
  


/*############# End task4 ################## */